* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5; /* Светло-серый фон */
    color: #333; /* Тёмно-серый текст */
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    display: flex; /* Используем flexbox для размещения секций рядом */
    flex-wrap: wrap; /* Если экран узкий, секции перейдут на новую строку */
    gap: 20px; /* Расстояние между секциями */
    justify-content: center;
}

.vertical-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Элементы будут располагаться вертикально */
    align-items: center; /* Центрирование по горизонтали */
    gap: 10px;
}

/* Стили для слайд-шоу */
.slideshow-section {
    flex: 1; /* Занимает доступное пространство */
    min-width: 300px; /* Минимальная ширина секции */
    background-color: #fff; /* Белый фон для секции */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.slideshow-container {
    max-width: 400px; /* Уменьшаем размер слайд-шоу */
    margin: 20px auto;
    text-align: center;
}

.slide {
    display: none;
    width: 100%;
    height: auto;
}

.active {
    display: block;
}

/* Стили для игры */
.game-section {
    flex: 1; /* Занимает доступное пространство */
    min-width: 300px; /* Минимальная ширина секции */
    background-color: #fff; /* Белый фон для секции */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.game-container {
    margin-top: 20px;
}

    .game-container input {
        padding: 8px;
        margin-right: 15px;
        width: 120px;
        border: 2px solid #b0bec5; /* Мягкий серо-голубой */
        border-radius: 4px;
    }

    .game-container button {
        padding: 10px 20px; /* Увеличиваем размер кнопок */
        margin: 5px;
        cursor: pointer;
        background-color: #7986cb; /* Пастельный синий */
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 16px; /* Увеличиваем текст на кнопках */
        transition: background-color 0.3s;
    }

        .game-container button:hover {
            background-color: #5c6bc0; /* Более тёмный синий при наведении */
        }

#message {
    margin: 15px 0;
    color: #455a64; /* Тёмно-голубой для текста сообщений */
}

h2 {
    color: #455a64; /* Тёмно-голубой для заголовков */
    margin-bottom: 15px;
}

/* Стили для дополнительных страниц */
.fullscreen-image {
    max-width: 50%;
    height: auto;
    margin: 0px 0;
    display: block;
}

p {
    margin-top: 20px;
}

a {
    color: #7986cb; /* Пастельный синий для ссылок */
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
        color: #5c6bc0; /* Более тёмный синий при наведении */
    }
